#highlighter-colour-container {
    top: 110px;
}

.highlighter-colour-button {
    width: 48px;
    height: 48px;
    box-shadow: var(--box-shadow);
    border: var(--border-width) var(--border-line) var(--grey);
    transition:
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

#highlighter-yellow {
    background-color: var(--light-yellow);
    border: var(--border-width) var(--border-line) var(--dark-yellow);
}

#highlighter-pink {
    background-color: var(--light-pink);
    border: var(--border-width) var(--border-line) var(--dark-pink);
}

#highlighter-orange {
    background-color: var(--light-orange);
    border: var(--border-width) var(--border-line) var(--dark-orange);
}

#highlighter-pink.selected-highlighter,
#highlighter-yellow.selected-highlighter,
#highlighter-orange.selected-highlighter {
    border: var(--border-width) var(--border-line) var(--dark-grey);
}