:root {
    /* colours */
    --dark-grey: #333;
    --grey: #a0a0a0;
    --light-grey: #f0f0f0;
    --white: #fdfdfd;

    --highlight: #ffee8cc0;

    --light-blue: #d5e3f0;
    --red: #dd0534;
    --dark-red: #9b1818;

    /* font-sizes */
    --font-large: 42px;
    --font-normal: 16px;

    /* border */
    --border-width: 1px;
    --border-line: solid;
    --border-radius: 20px;

    /* padding */
    --padding: 8px 14px;

    /* box-shadow */
    --box-shadow: 8px 8px #0000001a;

    /* font-family */
    --font-family: 'Courier New', Courier, monospace;
}

::selection {
    color: var(--dark-grey);
    background-color: var(--highlight);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-family);
    background-color: var(--light-grey);
}

h1 {
    color: var(--dark-grey);
    font-size: var(--font-large);
}

button {
    cursor: pointer;
    color: var(--grey);
    padding: var(--padding);
    font-size: var(--font-normal);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    background-color: var(--light-grey);
    border: var(--border-width) var(--border-line) var(--grey);
}

button:hover {
    color: var(--dark-grey);
    border: var(--border-width) var(--border-line) var(--dark-grey);
}

#todo-input {
    width: 250px;
    margin-right: 10px;
    padding: var(--padding);
    font-size: var(--font-normal);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-line) var(--white);
}

#todo-input:focus {
    outline: none;
    border: var(--border-width) var(--border-line) var(--dark-grey);
}

#todo-list {
    padding: 0;
    width: 600px;
    margin-top: 44px;
}

#todo-list li {
    display: flex;
    position: relative;
    padding: 10px 0px 4px 98px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    justify-content: space-between;
    border-left: var(--border-width) var(--border-line) var(--grey);
    border-right: var(--border-width) var(--border-line) var(--grey);
}

#todo-list li::before {
    top: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    height: var(--border-width);
    background-color: var(--light-blue);
}

#todo-list li:first-child {
    padding-top: 90px;
    border-top: var(--border-width) var(--border-line) var(--grey);
}

#todo-list li:first-child::before {
    top: 80px;
}

#todo-list li::after {
    top: 0;
    bottom: 0;
    left: 80px;
    content: '';
    position: absolute;
    width: var(--border-width);
    background-color: var(--red);
}

#todo-list li:last-child {
    padding-bottom: 22px;
    border-bottom: var(--border-width) var(--border-line) var(--grey);
}

.delete-button {
    padding: 0;
    border: none;
    color: var(--red);
    padding-right: 14px;
    background-color: var(--white);
}

.delete-button:hover {
    border: none;
    color: var(--dark-red);
}