@import "variables.css";

#highlighter-colour-container {
    top: 168px;
}

.highlighter-colour-button:nth-child(n + 6) {
    margin-right: -12px;
}

.highlighter-colour-button:nth-child(-n + 5) {
    margin-right: -4px;
}

.highlighter-colour-button,
.highlighter-colour-button:hover {
    background-color: var(--transparent);
    border: var(--border-width) var(--border-line) var(--transparent);
}

.highlighter {
    width: 16px;
    height: 100px;
    box-shadow: var(--box-shadow);
}

#highlighter-yellow .highlighter {
    background-color: var(--light-yellow);
    border: var(--border-width) var(--border-line) var(--dark-yellow);
}

#highlighter-pink .highlighter {
    background-color: var(--light-pink);
    border: var(--border-width) var(--border-line) var(--dark-pink);
}

#highlighter-orange .highlighter {
    background-color: var(--light-orange);
    border: var(--border-width) var(--border-line) var(--dark-orange);
}

#highlighter-green .highlighter {
    background-color: var(--light-green);
    border: var(--border-width) var(--border-line) var(--dark-green);
}

#highlighter-blue .highlighter {
    background-color: var(--light-blue);
    border: var(--border-width) var(--border-line) var(--dark-blue);
}

#highlighter-purple .highlighter {
    background-color: var(--light-purple);
    border: var(--border-width) var(--border-line) var(--dark-purple);
}

.lid {
    width: 16px;
    height: 40px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border-left: var(--border-width) var(--border-line) var(--grey);
    border-right: var(--border-width) var(--border-line) var(--grey);
    border-bottom: var(--border-width) var(--border-line) var(--grey);
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

.lid-holder {
    width: 12px;
    height: 6px;
    margin-left: 2px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

#highlighter-yellow .lid-holder {
    background-color: var(--light-yellow);
    border-top: var(--border-width) var(--border-line) var(--dark-yellow);
    border-left: var(--border-width) var(--border-line) var(--dark-yellow);
    border-right: var(--border-width) var(--border-line) var(--dark-yellow);
}

#highlighter-pink .lid-holder {
    background-color: var(--light-pink);
    border-top: var(--border-width) var(--border-line) var(--dark-pink);
    border-left: var(--border-width) var(--border-line) var(--dark-pink);
    border-right: var(--border-width) var(--border-line) var(--dark-pink);
}

#highlighter-orange .lid-holder {
    background-color: var(--light-orange);
    border-top: var(--border-width) var(--border-line) var(--dark-orange);
    border-left: var(--border-width) var(--border-line) var(--dark-orange);
    border-right: var(--border-width) var(--border-line) var(--dark-orange);
}

#highlighter-green .lid-holder {
    background-color: var(--light-green);
    border-top: var(--border-width) var(--border-line) var(--dark-green);
    border-left: var(--border-width) var(--border-line) var(--dark-green);
    border-right: var(--border-width) var(--border-line) var(--dark-green);
}

#highlighter-blue .lid-holder {
    background-color: var(--light-blue);
    border-top: var(--border-width) var(--border-line) var(--dark-blue);
    border-left: var(--border-width) var(--border-line) var(--dark-blue);
    border-right: var(--border-width) var(--border-line) var(--dark-blue);
}

#highlighter-purple .lid-holder {
    background-color: var(--light-purple);
    border-top: var(--border-width) var(--border-line) var(--dark-purple);
    border-left: var(--border-width) var(--border-line) var(--dark-purple);
    border-right: var(--border-width) var(--border-line) var(--dark-purple);
}

.clip-top {
    width: 16px;
    height: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border-top: var(--border-width) var(--border-line) var(--grey);
    border-left: var(--border-width) var(--border-line) var(--grey);
    border-right: var(--border-width) var(--border-line) var(--grey);
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

.clip {
    width: 8px;
    height: 32px;
    margin-left: 4px;
    position: absolute;
    margin-bottom: -10px;
    background-color: var(--white);
    border-left: var(--border-width) var(--border-line) var(--grey);
    border-right: var(--border-width) var(--border-line) var(--grey);
    border-bottom: var(--border-width) var(--border-line) var(--grey);
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

.selected-highlighter.highlighter-colour-button {
    margin-top: -88px;
}

.selected-highlighter {
    .lid-holder {
        box-shadow: none;
    }

    .clip-top {
        border-radius: 0;
    }

    .lid {
        box-shadow: none;
        margin-top: -154px;
        border-bottom: none;
        border-top: var(--border-width) var(--border-line) var(--grey);
        border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    }

    .highlighter {
        border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
    }
}