@import "variables.css";

.line-colour-button:nth-child(-n + 3) {
    margin-right: 20px;
}

.line-colour-button {
    width: 48px;
    height: 48px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    transition:
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

.line-colour-button::before {
    content: '';
    top: 0px;
    left: 22%;
    width: 1px;
    z-index: 2;
    bottom: 0px;
    position: absolute;
    background-color: var(--light-red);
}

.line-colour-button .horizontal-lines {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
}

.horizontal-line {
    height: 1px;
}

#line-blue .horizontal-line {
    background-color: var(--light-blue);
}

#line-purple .horizontal-line {
    background-color: var(--light-purple);
}

#line-green .horizontal-line {
    background-color: var(--light-green);
}

#line-pink .horizontal-line {
    background-color: var(--light-pink);
}

#line-blue {
    border-color: var(--dark-blue);
}

#line-purple {
    border-color: var(--dark-purple);
}

#line-green {
    border-color: var(--dark-green);
}

#line-pink {
    border-color: var(--dark-pink);
}

#line-blue:hover,
#line-blue.selected-theme {
    background-color: var(--light-blue);
}

#line-purple:hover,
#line-purple.selected-theme {
    background-color: var(--light-purple);
}

#line-green:hover,
#line-green.selected-theme {
    background-color: var(--light-green);
}

#line-pink:hover,
#line-pink.selected-theme {
    background-color: var(--light-pink);
}

#line-blue:hover .horizontal-line,
#line-purple:hover .horizontal-line,
#line-green:hover .horizontal-line,
#line-pink:hover .horizontal-line,
#line-blue.selected-theme .horizontal-line,
#line-purple.selected-theme .horizontal-line,
#line-green.selected-theme .horizontal-line,
#line-pink.selected-theme .horizontal-line {
    background-color: var(--white);
}