@import "variables.css";
@import "line-colours.css";
@import "bullet-points.css";
@import "highlighter-buttons.css";

::selection {
    color: var(--dark-grey);
    background-color: var(--light-yellow);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-family);
    background-color: var(--light-grey);
}

h1 {
    color: var(--dark-grey);
    font-size: var(--font-large);
}

button {
    cursor: pointer;
    color: var(--grey);
    padding: var(--padding);
    font-size: var(--font-normal);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    background-color: var(--light-grey);
    border: var(--border-width) var(--border-line) var(--grey);
}

button:hover {
    color: var(--dark-grey);
    border: var(--border-width) var(--border-line) var(--dark-grey);
}

#todo-input {
    width: 250px;
    margin-right: 10px;
    padding: var(--padding);
    font-size: var(--font-normal);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-line) var(--white);
}

#todo-input:focus {
    outline: none;
    border: var(--border-width) var(--border-line) var(--dark-grey);
}

#todo-list {
    padding: 0;
    width: 600px;
    margin-top: 44px;
    margin-bottom: 152px;
}

#todo-list li {
    display: flex;
    position: relative;
    padding: 10px 0px 4px 98px;
    justify-content: flex-start;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border-left: var(--border-width) var(--border-line) var(--grey);
    border-right: var(--border-width) var(--border-line) var(--grey);
}

#todo-list li::before {
    top: 0;
    left: 0;
    right: 0;
    content: '';
    position: absolute;
    height: var(--border-width);
    background-color: var(--light-blue);
}

#todo-list li:first-child {
    padding-top: 90px;
    border-top: var(--border-width) var(--border-line) var(--grey);
}

#todo-list li:first-child::before {
    top: 80px;
}

#todo-list li::after {
    top: 0;
    bottom: 0;
    left: 80px;
    content: '';
    position: absolute;
    width: var(--border-width);
    background-color: var(--light-red);
}

#todo-list li:last-child {
    padding-bottom: 22px;
    border-bottom: var(--border-width) var(--border-line) var(--grey);
}

#todo-list li:hover {
    .delete-button {
        border: none;
        color: var(--dark-red);
    }

    .container .checkmark:after {
        border: solid var(--dark-grey);
        border-width: 0 var(--border-width) var(--border-width) 0;
    }

    .checkmark {
        border: var(--border-width) var(--border-line) var(--grey);
    }
}

.delete-button {
    padding: 0;
    border: none;
    display: flex;
    margin-left: auto;
    color: var(--white);
    padding-right: 14px;
    background-color: var(--white);
}

#submit-button {
    transition:
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

.container {
    display: block;
    cursor: pointer;
    position: relative;
    margin-left: -46px;
    padding-left: 40px;
    margin-bottom: 12px;
}

.container input {
    width: 0;
    cursor: pointer;
    position: absolute;
}

.checkmark {
    left: 0;
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 4px;
    background-color: var(--white);
    border: var(--border-width) var(--border-line) var(--white);
}

.checkmark:after {
    content: "";
    display: none;
    position: absolute;
}

.container .checkmark:after {
    top: 3px;
    left: 5px;
    width: 3px;
    height: 6px;
    transform: rotate(45deg);
    border: solid var(--dark-grey);
    border-width: 0 var(--border-width) var(--border-width) 0;
}

.container input:checked~.checkmark:after {
    display: block;
}

.button-container {
    top: 30px;
    right: 30px;
    padding: 20px;
    display: flex;
    position: fixed;
    padding-top: 54px;
    flex-direction: row;
    background-color: #0000000b;
    justify-content: space-between;
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-line) var(--grey);
}

.button-container-title {
    top: 2px;
    position: absolute;
    font-size: var(--font-normal);
}