:root {
    /* colours */
    --dark-grey: #333;
    --grey: #a0a0a0;
    --light-grey: #f0f0f0;
    --white: #fdfdfd;

    --light-yellow: #f5e497;
    --dark-yellow: #928135;

    --light-pink: #eccae4;
    --dark-pink: #7e2567;

    --light-orange: #ebc597;
    --dark-orange: #855821;

    --light-blue: #c7dcf0;
    --dark-blue: #31597e;

    --light-purple: #e0d2ec;
    --dark-purple: #340a57;

    --light-green: #d1ecba;
    --dark-green: #214107;

    --light-red: #dd0534;
    --dark-red: #9b1818;

    /* font-sizes */
    --font-large: 42px;
    --font-normal: 16px;

    /* border */
    --border-width: 1px;
    --border-line: solid;
    --border-radius: 20px;
    --border-radius-small: 4px;

    /* padding */
    --padding: 8px 14px;

    /* box-shadow */
    --box-shadow: 8px 8px #0000001a;

    /* font-family */
    --font-family: 'Courier New', Courier, monospace;
}